.modal {
	/* стилизация модального окна по вашему выбору */
}

.modal-content {
	display: flex;
	/* настройки расположения контента */
}

/* Стили для изображения недвижимости */
.property-image {
	margin-right: 20px; /* расстояние между изображением и данными */
}

/* Стили для информации о недвижимости */
.property-info {
	font-family: 'headlineFont', sans-serif; /* применение заголовочного шрифта */
}

.property-info h2 {
	font-size: 24px; /* размер заголовка */
	margin-bottom: 10px; /* отступ после заголовка */
}

.property-info p {
	font-size: 16px; /* размер текста */
	margin-bottom: 8px; /* отступ после параграфа */
}

