@font-face {
	font-family: headlineFont;
	src: url("/fonts/gilroy-semibold.ttf");
}

body {
	font-family: headlineFont;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Тень со всех сторон */
}

/* Отступы от формы и лейблов */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Добавляем отступ для кнопки */
.btn.btn-primary.mt-3 {
	padding-bottom: 30px;
}
