<div class="col-md-4">
    <div class="card mx-auto">
        <div class='card-image'>
            <img src="{{imageSrc}}" class="card-img" alt="Image">
        </div>
        <div class="card-body">
            <h5 class="price">{{price}}</h5>
            <div class="details">
                <p class="name">{{address}}</p>
                <p class='slash'> | </p>
                <p class="broker_name">{{brokerName}}</p>
            </div>
        </div>
    </div>
</div>
